# <div style = 'background-color:red'> <center> Netflix Show and Sentiment Analysis </div>

<center>
<img src="https://images.ctfassets.net/y2ske730sjqp/1aONibCke6niZhgPxuiilC/2c401b05a07288746ddf3bd3943fbc76/BrandAssets_Logos_01-Wordmark.jpg?w=940" width=500>
</center>

In [1]:
# Importing Libraries 
import numpy as np # linear algebra operations
import pandas as pd # used for data preparation
import plotly.express as px #used for data visualization
from textblob import TextBlob #used for sentiment analysis
import plotly.graph_objects as go

In [2]:
# importing the data set 
nt = pd.read_csv("/kaggle/input/netflix-shows/netflix_titles.csv")

# Data Exploratory

In [3]:
nt.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
# Explore Data Columns 
nt.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [5]:
# Getting the shape of the data set
nt.shape

(8807, 12)

In [6]:
nt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [7]:
# Checking for duplicate Rows  
nt.duplicated().sum()

0

In [8]:
# Exploring what Type of content we have in the data set
nt['type'].value_counts()

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [9]:
# Filling Null Values 
nt['director'].fillna('Director Not Specified', inplace = True )
nt['cast'].fillna('Cast Not Specified', inplace = True )

/tmp/ipykernel_18/4137063998.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nt['director'].fillna('Director Not Specified', inplace = True )
/tmp/ipykernel_18/4137063998.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nt['cast'].fillna('Cast Not Specified', inplace = True )

In [10]:
# Chacking For the changes
nt.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Cast Not Specified,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,Director Not Specified,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,Director Not Specified,Cast Not Specified,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,Director Not Specified,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

# Data Analysing and Visualising

In [11]:
# Distribution of content ratings on Netflix
rt = nt.groupby(['rating']).size().reset_index(name='counts')
rt

      rating  counts
0     66 min       1
1     74 min       1
2     84 min       1
3          G      41
4      NC-17       3
5         NR      80
6         PG     287
7      PG-13     490
8          R     799
9      TV-14    2160
10      TV-G     220
11     TV-MA    3207
12     TV-PG     863
13      TV-Y     307
14     TV-Y7     334
15  TV-Y7-FV       6
16        UR       3

In [12]:
# Ploting Distribution of content ratings on Netflix
fig = px.pie(rt, names = 'rating',values = 'counts',color_discrete_sequence =  px.colors.sequential.Agsunset,
             title = 'Distribution of Content Ratings On Netflix',height =  600 , width = 900)
fig.show()

In [13]:
# Creating a empty data frame 
directors_list = pd.DataFrame()
# Getting data from the actuel data frame 
directors_list = nt['director'].str.split(',', expand=True).stack()
# Transforming directors_list to a data frame 
directors_list = directors_list.to_frame()
directors_list.columns =  ['Director']
directors_list

                      Director
0    0         Kirsten Johnson
1    0  Director Not Specified
2    0         Julien Leclercq
3    0  Director Not Specified
4    0  Director Not Specified
...                        ...
8802 0           David Fincher
8803 0  Director Not Specified
8804 0         Ruben Fleischer
8805 0            Peter Hewitt
8806 0             Mozez Singh

[9612 rows x 1 columns]

In [14]:
# Groupping by Director and calculating the count 
directors = directors_list.groupby(['Director']).size().reset_index(name='Total Count')
# getting ride of rows that countain no director name 
directors = directors[directors.Director != 'Director Not Specified']
directors

                       Director  Total Count
0                Aaron Moorhead            2
1                   Aaron Woolf            1
2      Abbas Alibhai Burmawalla            1
3              Abdullah Al Noor            1
4           Abhinav Shiv Tiwari            1
...                         ...          ...
5116                Çagan Irmak            1
5117           Ísold Uggadóttir            1
5118        Óskar Thór Axelsson            1
5119           Ömer Faruk Sorak            2
5120               Şenol Sönmez            2

[5120 rows x 2 columns]

In [15]:
# sorting data in descending order to get top 5 director 
directors = directors.sort_values(by=['Total Count'], ascending = False)
directors = directors.head()
directors

           Director  Total Count
4021  Rajiv Chilaka           22
4068    Raúl Campos           18
261       Jan Suter           18
4652    Suhas Kadav           16
3236   Marcus Raboy           16

In [16]:
# Ploting Top 5 Director In Netflix By the Number of movies 
fig = px.bar(directors, x = 'Director',y =  'Total Count', barmode = 'group',width = 1000 , height =  800,color = 'Total Count',
            labels={'Director':'Director Name', 'Total Count':'Number of Movies'}, title = 'Top 5 Director In Netflix',template = 'presentation',
          color_discrete_sequence = px.colors.sequential.Sunset)
fig.show()

In [17]:
# Getting Tp 5 directors only in tv show 
top_5_directors_TVShow = nt['director'][nt['type'] == 'TV Show'].value_counts().sort_values(ascending=False).iloc[0:5].reset_index()
top_5_directors_TVShow

                 director  count
0  Director Not Specified   2446
1     Alastair Fothergill      3
2             Hsu Fu-chun      2
3             Shin Won-ho      2
4         Rob Seidenglanz      2

In [18]:
# Ploting Top 5 Director In Netflix For Tv Show
fig = px.bar(top_5_directors_TVShow, x = 'director',y =  'count', barmode = 'group',width = 1000 , height =  800,color = 'count',
            labels={'Director':'Director Name', 'count':'Number of Show'}, title = 'Top 5 Director In Netflix For Tv Show',template = 'presentation',
          color_discrete_sequence = px.colors.sequential.Sunset)
fig.show()

In [19]:
# Getting Tp 5 directors only in Movies
top_5_directors_movie = nt['director'][nt['type'] == 'Movie'].value_counts().sort_values(ascending=False).iloc[0:5].reset_index()
top_5_directors_movie

                 director  count
0  Director Not Specified    188
1           Rajiv Chilaka     19
2  Raúl Campos, Jan Suter     18
3             Suhas Kadav     16
4            Marcus Raboy     15

In [20]:
# Ploting Top 5 Director In Netflix For Movies
fig = px.bar(top_5_directors_movie, x = 'director',y =  'count', barmode = 'group',width = 1200 , height =  800,color = 'count',
            labels={'director':'Director Name', 'count':'Number Of Movies Directed '}, title = 'Top 5 Director In Netflix For Movies',template = 'presentation',
          color_discrete_sequence = px.colors.sequential.Sunset)
fig.update_xaxes(tickangle=0)
fig.show()

In [21]:
# Creating a empty data frame for cast 
cast_df = pd.DataFrame()
# Getting the data 
cast_df = nt['cast'].str.split(',',expand=True).stack()
# Transforming cast_df to a data frame 
cast_df = cast_df.to_frame()
# Changing the name of column to Actor 
cast_df.columns = ['Actor']
# Groupping the data by actor and calculating the number of film by each actor 
actors = cast_df.groupby(['Actor']).size().reset_index(name = 'Total Count')
# Getting ride of row that countain no cast 
actors = actors[actors.Actor != 'Cast Not Specified']
# sorting values in descending order 
actors = actors.sort_values(by=['Total Count'], ascending=False)
# Getting only top 5 actor 
top5Actors = actors.head()
top5Actors

                   Actor  Total Count
2612         Anupam Kher           39
26941       Rupa Bhimani           31
30303   Takahiro Sakurai           30
15541      Julie Tejwani           28
23624            Om Puri           27

In [22]:
# Ploting Top 5 Actor In Netflix based on Number Of Film
fig = px.bar(top5Actors, x='Actor', y='Total Count', barmode = 'group',width = 1000 , height =  800, color = 'Total Count',
            labels={'Actor':'Actor Name', 'Total Count':'Number of Movies'}, title = 'Top 5 Actor In Netflix By Number Of Film',template = 'presentation',
          color_discrete_sequence = px.colors.sequential.Sunset)
fig.show()

In [23]:

df1 = nt[['type', 'release_year']]
df1 = df1.rename(columns = {"release_year":"Release Year", "type": "Type"})
df2 = df1.groupby(['Release Year', 'Type']).size().reset_index(name='Total Count')
df2

     Release Year     Type  Total Count
0            1925  TV Show            1
1            1942    Movie            2
2            1943    Movie            3
3            1944    Movie            3
4            1945    Movie            3
..            ...      ...          ...
114          2019  TV Show          397
115          2020    Movie          517
116          2020  TV Show          436
117          2021    Movie          277
118          2021  TV Show          315

[119 rows x 3 columns]

In [24]:
# Ploting Trend of Content Produced on Netfilx By Year from 2000 until 2021
df2 = df2[df2['Release Year']>=2000]
fig = px.line(df2, x = "Release Year", y="Total Count", color = "Type", title = "Trend of Content Produced on Netfilx Every Year",markers = True,
             labels = {'Total Count' : 'Number of Content'},template = 'presentation')
fig.show()

/opt/conda/lib/python3.10/site-packages/plotly/express/_core.py:2065: FutureWarning:

When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.

In [25]:
# Getting Top Country By content produced on netflix 
top_5_countries_movie = nt['country'].value_counts().sort_values(ascending=False).iloc[0:5].reset_index()
top_5_countries_movie

          country  count
0   United States   2818
1           India    972
2  United Kingdom    419
3           Japan    245
4     South Korea    199

In [26]:
fig = px.bar(top_5_countries_movie, x = "country", y="count", color = "count", title = "Number of Content Produced on Netfilx By Country",
             labels = {'count' : 'Number of Content'},template = 'presentation',width = 1000 , height =  700)
fig.show()

# Sentiment Analysis of Netflix Content

In [27]:
# Extracting importing columns from the actuel data set 
df3 = nt[['release_year', 'description']]
df3 = df3.rename(columns = {'release_year':'Release Year', 'description':'Description'})
# Staring with sentiment analysis
for index, row in df3.iterrows():
  d=row['Description']
  testimonial = TextBlob(d)
  p = testimonial.sentiment.polarity
  if p==0:
    sent = 'Neutral'
  elif p>0:
    sent = 'Positive'
  else:
    sent = 'Negative'
  df3.loc[[index, 2], 'Sentiment']=sent

df3 = df3.groupby(['Release Year', 'Sentiment']).size().reset_index(name = 'Total Count')
df3

     Release Year Sentiment  Total Count
0            1925   Neutral            1
1            1942   Neutral            2
2            1943  Negative            1
3            1943   Neutral            2
4            1944  Negative            1
..            ...       ...          ...
180          2020   Neutral          161
181          2020  Positive          519
182          2021  Negative          164
183          2021   Neutral           85
184          2021  Positive          343

[185 rows x 3 columns]

In [28]:
# Ploting The Data from 2000 until 2021
df3 = df3[df3['Release Year']>2005]
fig = px.bar(df3, x="Release Year", y="Total Count", color = "Sentiment", title = "Sentiment Analysis of Content on Netflix",
                 labels = {'Total Count' : 'Count of Sentiment'}, template = 'presentation',color_discrete_sequence = px.colors.cyclical.HSV,width = 1200 , height = 700)
fig.show()

/opt/conda/lib/python3.10/site-packages/plotly/express/_core.py:2065: FutureWarning:

When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.

# <div style = 'background-color:red'> <center> The End </div>